.funkyradio div {
    clear: both;
    overflow: hidden;
    padding-left: 5px;
  }
  
  .funkyradio label {
    min-width: 25px;
    width: 100%;
    font-weight: normal;
  }
  
  .funkyradio input[type="radio"]:empty,
  .funkyradio input[type="checkbox"]:empty {
    display: none;
  }
  
  .funkyradio input[type="radio"]:empty ~ label,
  .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }


  .funkyradio input[type="radio"]:empty ~ label:before,
  .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
  }
  
  .funkyradio input[type="radio"]:hover:not(:checked) ~ label,
  .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
  }
  
  .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
  .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
  }
  
  .funkyradio input[type="radio"]:checked ~ label,
  .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
  }
  
  .funkyradio input[type="radio"]:checked ~ label:before,
  .funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
  }
  
  .funkyradio input[type="radio"]:focus ~ label:before,
  .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
  }
  
  .funkyradio-default input[type="radio"]:checked ~ label:before,
  .funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
  }
  
  .funkyradio-primary input[type="radio"]:checked ~ label:before,
  .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
  }
  
  .funkyradio-success input[type="radio"]:checked ~ label:before,
  .funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
  }
  
  .funkyradio-danger input[type="radio"]:checked ~ label:before,
  .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
  }
  
  .funkyradio-warning input[type="radio"]:checked ~ label:before,
  .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
  }
  
  .funkyradio-info input[type="radio"]:checked ~ label:before,
  .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
  }



  .table-dark {
    color: #fff;
    background-color: #262626;
}

  .table-dark.table-hover tbody tr:hover {
    background-color: rgb(49, 47, 47);
}


.input-group.input-group-xs {
    height: 16px;
    
}

  .form-control::-webkit-input-placeholder {
    color: rgb(223, 28, 28);
    opacity: 0.2;
  }
  .selectRadius {
    border-radius: 4px;
    margin: 2px;
    padding: 1px;
    font-weight: 800;
    color: #7726a4;
}

#RGB {
	height: 20px;
  background: rgb(128, 128, 128);
}
#RC .slider-selection {
  background: #FF8282;
  border: 1px solid rgb(32, 32, 32);
  transition: all 250ms; /* transition when the mouse over */
}
#RC .slider-handle {
	background: red;
}
#GC .slider-selection {
  background: #428041;
  border: 1px solid rgb(32, 32, 32);
  transition: all 250ms; /* transition when the mouse over */
}
#GC .slider-handle {
	background: green;
}
#BC .slider-selection {
  background: #8283FF;
  border: 1px solid rgb(32, 32, 32);
  transition: all 250ms; /* transition when the mouse over */
}
#BC .slider-handle {
  border-bottom-color: blue;
}
#R, #G, #B {
	width: 200px;
}
#BC {
  transition: all 100ms; /* transition when the mouse over */
  margin-left: 10px;
}
#GC {
  transition: all 100ms; /* transition when the mouse over */
  margin-left: 10px;
}
#RC {
  transition: all 100ms; /* transition when the mouse over */
  margin-left: 10px;
}
#BC:hover { 
  border: 2px solid #8283FF;
}
#GC:hover { 
  border: 2px solid #428041;
}
#RC:hover { 
  border: 2px solid #FF8282;
}


.boxlock {
  visibility: hidden;
  border: 1px solid rgb(0, 0, 0);
}

input.boxlock::after {
  visibility: visible;
  content: "\1F513";
  background: green;
  padding: 1px;
  margin: 2px;
  display: -webkit-inline-box;
  border-radius: 16px;
  transition: all 400ms; /* transition when the mouse over */
  border: 1px solid rgb(0, 0, 0);
}

input.boxlock:checked::after {
  visibility: visible;
  content: "\1F512";
  background: rgb(255, 0, 0);
  padding: 1px;
  margin: 2px;
  display: -webkit-inline-box;
  border-radius: 16px;
  transition: all 400ms; /* transition when the mouse over */
  border: 1px solid rgb(0, 0, 0);

}

input.boxlock:hover::after {
  padding: 1px;
  margin: 2px;
  display: -webkit-inline-box;
  border-radius: 2px;
  transition: all 200ms; /* transition when the mouse over */
  border: 1px solid rgb(255, 255, 255);

}

.form-control.dark {
  background-color: #1a1a1a;
  color: white;
  text-align: left;
  padding: 5px;
}


input#copyCheck {    			
  margin: 4px;
}

div#dataEditor {
  padding-right: 0px !important;
  border-radius: 10px;
}
.iziToast > .iziToast-body {
  position: relative;
  padding: 0 0 0 10px;
  height: auto;
  min-height: 36px;
  margin: -10px 0 0 0px;
  text-align: left;

}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
.scrollable {
    max-height: 665px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container.buttons {
  padding-top: 10px;
  text-align: end;
  background-color: #2b2b2ba8;
  border-radius: 0px 0px 25px 122px;
}

.input-group-text {
  padding: 4px;
  margin: 1px;
}
.input-group>.form-control:not(:last-child) {
  /* border-top-right-radius: 0; */
  /* border-bottom-right-radius: 0; */
  border-radius: 0px;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  /* border-top-left-radius: 0; */
  /* border-bottom-left-radius: 0; */
  border-radius: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.parentBreak{
  margin-bottom: 5px;
  }
.green {
    background-color: #1a812810;
    color: white;
    font-size: 13px;
}
.blue {
  background-color: #23295611;
  color: white;
  font-size: 13px;
}
.red {
  background-color: #c9171709;
  color: white;
  font-size: 13px;
}
.pink {
  background-color: #4e224a15;
  color: white;
  font-size: 13px;
  text-shadow: 0px 0px 8px #000000;
}

.smallz {
  width: 65px !important;
  padding-left: 16px !important;
}

table.table.table-hover.table-dark.table-sm {
  margin-bottom: 1px;
}
.table td, .table th {
  padding: 0px;
  padding-left: 4px;
  border-top: 0px solid #dee2e6;
}

.input-group-text {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5px 1px;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  background-color: #00ffff00;
  border: 0px solid #ced4da;
  border-bottom: 0px solid #ff00f126;
  border-radius: .25rem;
}

input.form-control {
  padding-left: 2px;
  font-size: 12px;
  overflow: auto;
  float: left;
  padding: 0px 2px;
  display: block;
  height: 16px;
  width: auto;
  max-width: 100px;
  padding-left: 14px;
  font-weight: bold;
  margin-left: -4px;
}

.labelXY {
  margin-bottom: 0px;
  color: #9400c1;
  float: left;
  overflow: -webkit-paged-x;
  margin-right: -14px;
  margin-top: -2px;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  padding: 1px 1px;
  font-size: 12px;
  line-height: 12px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.15rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input.saveCheck {
  vertical-align: bottom;
}


p.specialMessage {
  width: 290px;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
  color: #868686;
  font-size: 10px;
  /* border-radius: 4px; */
  background-color: #00000033;
  /* border: 1px solid #c74444; */
  font-family: inherit;
  padding: 0px 4px;
  font-weight: 600;
}

.largeX {
  max-width: 100% !important;
  width: 100% !important;
}
.largeY {
  min-height: 38px;
  border-radius: 4px;
}

.slider.slider-horizontal {
  width: 220px;
  height: 20px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0px 2px;
  color: #fff;
  text-align: center;
  background-color: #0000003e;
  border-radius: 4.25rem;
}
.slider .tooltip.top {
  margin-top: -14px;
}

.mn-accordion .accordion-item {
  background-color: #313131;
  /* border-bottom: 6px solid #000000; */
  border-style: inset;
  border-color: #353535;
  border-width: 2px;
  margin: -2px;
}
.accordion-item:hover {
  background-color: aquamarine !important;
  border-color: #07ceaf !important;
}
h3:hover {
  font-weight: bold !important;
  color: #000000 !important
}
.lockDN {
  margin-top: -7px;
  float: left;
  margin-left: 5px;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #9f9f9f;
  border-style: dashed;
  opacity: 1;
}

