.funkyradio div {
    clear: both;
    overflow: hidden;
    padding-left: 5px;
  }
  
  .funkyradio label {
    min-width: 30px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(51, 51, 51);
    font-weight: normal;
  }
  
  .funkyradio input[type="radio"]:empty,
  .funkyradio input[type="checkbox"]:empty {
    display: none;
  }
  
  .funkyradio input[type="radio"]:empty ~ label,
  .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    text-indent: 3.25em;
    margin-right: 7px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }


  .funkyradio input[type="radio"]:empty ~ label:before,
  .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
  }
  
  .funkyradio input[type="radio"]:hover:not(:checked) ~ label,
  .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
  }
  
  .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
  .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
  }
  
  .funkyradio input[type="radio"]:checked ~ label,
  .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
  }
  
  .funkyradio input[type="radio"]:checked ~ label:before,
  .funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
  }
  
  .funkyradio input[type="radio"]:focus ~ label:before,
  .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
  }
  
  .funkyradio-default input[type="radio"]:checked ~ label:before,
  .funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
  }
  
  .funkyradio-primary input[type="radio"]:checked ~ label:before,
  .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
  }
  
  .funkyradio-success input[type="radio"]:checked ~ label:before,
  .funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
  }
  
  .funkyradio-danger input[type="radio"]:checked ~ label:before,
  .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
  }
  
  .funkyradio-warning input[type="radio"]:checked ~ label:before,
  .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
  }
  
  .funkyradio-info input[type="radio"]:checked ~ label:before,
  .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
  }



  .table-dark {
    color: #fff;
    background-color: #262626;
}

  .table-dark.table-hover tbody tr:hover {
    background-color: rgb(49, 47, 47);
}


.input-group.input-group-xs {
    height: 19px;
    width: 270px;
    
}

  .form-control::-webkit-input-placeholder {
    color: rgb(223, 28, 28);
    opacity: 0.2;
  }
  .selectRadius {
    border-radius: 4px;
    
}

#RGB {
	height: 20px;
  background: rgb(128, 128, 128);
}
#RC .slider-selection {
  background: #FF8282;
  border: 1px solid rgb(32, 32, 32);
  transition: all 1s; /* transition when the mouse over */
}
#RC .slider-handle {
	background: red;
}
#GC .slider-selection {
  background: #428041;
  border: 1px solid rgb(32, 32, 32);
  transition: all 1s; /* transition when the mouse over */
}
#GC .slider-handle {
	background: green;
}
#BC .slider-selection {
  background: #8283FF;
  border: 1px solid rgb(32, 32, 32);
  transition: all 1s; /* transition when the mouse over */
}
#BC .slider-handle {
  border-bottom-color: blue;
}
#R, #G, #B {
	width: 200px;
}
#BC {
	transition: all 1s; /* transition when the mouse over */
}
#GC {
	transition: all 1s; /* transition when the mouse over */
}
#RC {
	transition: all 1s; /* transition when the mouse over */
}
#BC:hover { 
  border: 2px solid #8283FF;
  border-radius: 50%;
}
#GC:hover { 
  border: 2px solid #428041;
  border-radius: 50%;
}
#RC:hover { 
  border: 2px solid #FF8282;
  border-radius: 50%;
}


.boxlock {
  visibility: hidden;
  border: 2px solid rgb(0, 0, 0);
}

input.boxlock::after {
  visibility: visible;
  content: "\1F513";
  background: green;
  padding: 1px;
  margin: 2px;
  display: -webkit-inline-box;
  border-radius: 16px;
  transition: all 800ms; /* transition when the mouse over */
  border: 2px solid rgb(0, 0, 0);
}

input.boxlock:checked::after {
  visibility: visible;
  content: "\1F512";
  background: rgb(255, 0, 0);
  padding: 1px;
  margin: 2px;
  display: -webkit-inline-box;
  border-radius: 16px;
  transition: all 800ms; /* transition when the mouse over */
  border: 2px solid rgb(0, 0, 0);

}

input.boxlock:hover::after {
  border: 2px solid rgb(255, 0, 221);
  margin: 0px;
  border-radius: 1px;
  transition: all 400ms; /* transition when the mouse over */

}